<footer class="page-footer">
          <div>
            <small>Made by <a title="Click here to view my LinkedIn profile" href="https://www.linkedin.com/in/narendra-bhosale-ab43a379/" target="_blank">Narendra Bhosale</a>
            </small>
          </div>
</footer>