  body {
      background-color: rgb(233, 219, 196);
      text-align: center;

    }

  .container {
    background-color: rgb(206, 135, 135);
    margin-bottom: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 150px;
    width: 500px;
    transform: translate(-50%, -50%)
  }

  .widget  {
    background-color: rgb(231, 186, 186);
    animation: color-change 1s infinite;
  }

  @keyframes color-change {
    0% { background-color: rgb(230, 193, 193); }
    50% { background-color: rgb(225, 235, 198); }
    100% { background-color: rgb(209, 230, 238); }
  }

  footer {
    background-color: rgb(160, 151, 151);
    position: absolute;
    bottom: 0;
    width: 100%;
  }